

.indexBackground{
    /* filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg); */
    
    /* 
    background-image: radial-gradient(#2e2c7c68, #4a5ecb5f);
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    width: 100%;
    margin-top: -5rem;
    height: 100vh; */
    /* background-color: black; */
    
}

.parallaxImage {
    filter: sepia(100%) saturate(300%) brightness(95%) hue-rotate(185deg) contrast(.50) opacity(1); 
    
}

#heroSection{
    height: 100vh;
    margin-top: -5rem;
    overflow:hidden;
    position: relative;
    width: 100%;
    
} 

    
.homePageContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}


.titleContainer {
    align-items: center;
    display: flex;
    flex-direction: column;

}


.titleContainer h1{
    color: var(--color-primary-font);
    font-size: 12.5rem;
    font-weight: 900;
}

.titleContainer h2{
    color: var(--color-primary-font);
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 0%;
}

.horizonalDivider{
    color: var(--color-primary-font);
    border-top: 7px solid white;
    /* margin-bottom: 3rem; */
    position: absolute;
    width: 45rem;
    z-index: 20;
    top: 62%;
    
}

