.indexBackground{
    background-image: url('/src/assets/pexels-chris-f-1283219.jpeg');
    background-image: radial-gradient(#2e2c7c68, #4a5ecb5f), url('/src/assets/pexels-chris-f-1283219.jpeg');
    background-size: cover; 
    
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    
    width: 100%;

    margin-top: -5rem;

    height: 100vh;
}

.bannerContainer{
    background-color: red;
    border: solid red 3px;
    border-radius: 5px;
    color: var(--color-primary-font);
    font-family: 'lobster';
    font-size: 2rem;
    font-weight: 600;
    height: 3rem;
    padding: 0 1rem 0 1rem;
    text-align: center;

}

.homePageContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 75vh;
    margin-top: 8rem;
    width: 100%;
}

.titleContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.titleContainer h1{
    color: var(--color-primary-font);
    font-size: 12.5rem;
    font-weight: 900;
}

.titleContainer h2{
    color: var(--color-primary-font);
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 0%;
}

.horizonalDivider{
    color: var(--color-primary-font);
    border-top: 7px solid white;
    margin-bottom: 3rem;
    width: 45rem;
}

