

.indexBackground{
    /* filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg); */
    
    /* 
    background-image: radial-gradient(#2e2c7c68, #4a5ecb5f);
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    width: 100%;
    margin-top: -5rem;
    height: 100vh; */
    /* background-color: black; */
    
}

.parallaxImage {
    filter: sepia(100%) saturate(300%) brightness(95%) hue-rotate(185deg) contrast(.50) opacity(1); 
    
}

#heroSection{
    height: 100vh;
    margin-top: -5rem;
    overflow:hidden;
    position: relative;
    width: 100%;
    
} 

    
.homePageContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}


.titleContainer {
    align-items: center;
    display: flex;
    flex-direction: column;

}


.titleContainer h1{
    color: var(--color-primary-font);
    font-size: 12.5rem;
    font-weight: 900;
}

.titleContainer h2{
    color: var(--color-primary-font);
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 0%;
}


.horizonalDivider.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.horizonalDivider.show{
    animation-name: animate-underline;
    animation-duration: 2s;
    border-top: 7px solid white;
    color: var(--color-primary-font);
    filter: blur(0);
    margin-top: -2.5rem;
    opacity: 1;
    width: 45rem;
    z-index: 20;
}




.titleContainerH1.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;


}

.titleContainerH1.show{
    filter: blur(0);
    opacity: 1;
    animation-duration: 2s;
    animation-name: animate-text-two;
}



.titleContainerH2.hidden{ 
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;

}

.titleContainerH2.show{
    filter: blur(0);
    opacity: 1;
   
    animation-duration: 2s;
    animation-name: animate-text;
}


@media(perfers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@keyframes animate-text{
    0%{
        transform: translateX(-200%) 
    }

    100%{
        transform: translateX(0%)
    }


}

@keyframes animate-text-two {
    0%{
        transform: translateX(200%) 
    }

    100%{
        transform: translateX(0%)
    }
    
}

@keyframes animate-underline {

    0%{
        transform: translatey(1000%) 
    }

    100%{
        transform: translatey(0%)
    }
    
}

