.ginBackground{
    background-size: cover; 
    
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    
    height: 100vh;
    width: 100%;
    margin-top: -5rem;
   
}

.baseAlcoholContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95vh;
    width: 100%;
}

.baseAlcTitleContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    width: 100%;
    
}

.baseAlcTitleContainer h1{
    font-size: clamp(3rem, 10vw, 14.5vw);
    text-align: center;
    text-transform: capitalize;
     
}

.baseAlcTitleContainer h2{
    font-size: clamp(1.5rem, 3.5vw, 6.5vw);
    line-height: 0%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.drinkListContainer{
    width: 100%;

}

.drinkListUl{
    align-items: center;
    display: flex;
    height: 12rem;
    overflow-y: scroll;
}

.drinkListLi{
    color: var(--color-primary-font);
    font-size: clamp(1.25rem, 2rem, 5vw);
    font-weight: 500;
    text-align: center;
    width: clamp(13rem, 24rem, 25vw);
    text-shadow: var(--small-letter-shadow);
}

.nameButtonContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.moreDrinkLinkContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



.linktoRecipe{
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: clamp(1rem, 1.25rem, 4vw);
    font-weight: 700;
    margin-top: 2rem;
    outline: none;
    text-align: center;
    padding: .25rem;
    width: clamp(5rem, 6rem, 15vw);
}

.linktoRecipeLarge{
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: clamp(1rem, 1.25rem, 3vw);
    font-weight: 700;
    margin-top: .75rem;
    outline: none;
    text-align: center;
    text-transform: capitalize;
    padding: .75rem 1.25rem .75rem 1.25rem;
    width: auto;

}


/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
    .baseAlcTitleContainer{
        margin-top: -15rem;
    }

    .drinkListLi{
    
        width: 25rem;
    }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {

    .ginBackground{
        border: 2px solid white;
    }

    .baseAlcTitleContainer{
        margin-top: 0rem;
    }

    .baseAlcTitleContainer h2{
        margin-top: 1rem;

    }
    .baseAlcoholName{
        border: 2px solid red;
    }
    .drinkListLi{
        font-weight: 400;
    }


}

