.discoverShotsSection{
    min-height: 100vh;
    width: 100%;

}

.parallaxShotDod{
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    filter:brightness(45%);
    transform-style: preserve-3d;
}

.discoverShotsContainer{
    min-height: 100vh;
    margin-bottom: 3rem;
}


.discoverShotsTitleContainer{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 15rem;
    margin-bottom: 10rem;
}


.discoverShotsTitleContainerH1{
    font-size: clamp(4rem, 11vw, 13vw);
    margin-top: 4.5rem;
}

.discoverShotsTitleContainerH1.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
}

.discoverShotsTitleContainerH1.show{
    filter: blur(0);
    opacity: 1;
    animation-duration: 2s;
    animation-name: animated-shot-title;
}

.discShotsLinksToDrinkContainer {
    display: grid;
    justify-content: space-evenly;
    gap: .25rem;
    grid-template-columns: repeat(6, 15%);
    margin-top: 3rem;
    overflow-y: scroll;
    padding-bottom: 4rem;
    width: 100%;
}

.discShotsLinksToDrinkContainer.hidden{
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
}


.shotsAlcLinkContainer.hidden:nth-child(even) {
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
}

.shotsAlcLinkContainer.hidden:nth-child(odd) {
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
}

.shotsAlcLinkContainer.show:nth-child(odd){
    filter: blur(0);
    opacity: 1;
    animation-duration: 2s;
    animation-name: animated-shot-odd;

}

.shotsAlcLinkContainer.show:nth-child(even){
    filter: blur(0);
    opacity: 1;
    animation-duration: 2s;
    animation-name: animated-shot-even;

}


.linktoRecipeFour{
    color: white;
    font-size:  clamp(.75rem, 1.10vw, 5vw);
}



@keyframes animated-shot-odd{
    0%{
        transform: translateY(-300%) 
    }

    100%{
        transform: translateY(0%)
    }
}

@keyframes animated-shot-even{
    0%{
        transform: translateY(300%) 
    }

    100%{
        transform: translateY(0%)
    }
}