.aboutSection{
    align-items: center;
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin-top: -5rem;
    width: 100%;
}


.aboutContainer{
    color: var(--color-primary-font);    
}

.aboutTitleContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: auto;

}

.aboutTitleContainer h1{
    font-size: clamp(4rem, 11vw, 13vw);
    margin-top: 4.5rem;

}

.aboutTitleContainer h2{
    font-size: 3rem;
    font-weight: 600;
    line-height: 0%;

}

.aboutParagraphContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
}

.aboutParagraphContainer p{
    font-size: 1.25rem;
    width: 80%;
}