.footerSection{
    background-color: #1B0000;
    height: auto;
    display: flex;
    justify-content: center;
}

.footerContainer{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footerLogoSocials{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: center;

}

.footerSocials{
    align-items: center;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: clamp(1.5rem, 2vw, 5vw);
    height: 2rem;
    justify-content: space-between;
    margin-top: 1rem;
    width: clamp(9rem, 14rem, 17vw)

}

.footerSiteSections {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: clamp(.9rem, 1.15rem, 2vw);
    font-weight: 500;
    gap: 1rem;    
}



.footerSiteSections a{
    color: white;
    cursor: pointer;
    width: auto;
}

.footerSiteSections a:hover{
    color: #ef4c3a;
}

.footerSiteInfo a{
    color: #989797;
    cursor: pointer;
}

.footerSiteInfo a:hover{
    color: white;
}


.footerSiteInfo {
    color: var(--color-primary-grey);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: clamp(.9rem, 1.15rem, 2vw);
    font-weight: 500;   
    gap: .75rem; 
    justify-content: space-evenly;
    width: 10rem;
}



/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
   
    
}

/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {

    .footerContainer{
        flex-direction: column;
        height: auto;
        margin-bottom: 1rem;
        
    }

    .footerLogoSocials{
        height: auto;
        margin-top: 2rem;
        width: auto;

    }

    .mobileDivisionContainer {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 95%;
    
    }

    .mobileDivisionContainer a{
        text-align: center;
        width: auto;
    }

    .footerSiteSections{
        align-items: center;
    }
    
}